<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /design/tmp_1/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /design/tmp_1/index.html [L]
</IfModule>
